body {
    font-family: Arial, sans-serif;
    background-color: rgb(241, 189, 189);
    color: rgb(0, 0, 0);
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}


header {
    display: flex;
    justify-content: space-between; 
    align-items: center;    
    padding: 1rem 2rem;
    background-color: rgb(100, 4, 92);
}

.menu {
    list-style: none;
  display: flex;
}
.lien {
  display: flex;
  margin: 0 15px;
}

.lien a {
    text-decoration: none;
    color: rgb(126, 0, 199);
}

section {
    padding: 2rem 0;
}


input, textarea {
    width: 100%;
    box-sizing; border-box;
    margin-button: 1rem;
    padding: 0,5rem;
    border: 1px;

}

input[type="submit"] {
    background-color: aqua;
    color: rgb(0, 0, 0);
    border: none;
    padding: 0,75rem 1,5rem;
}

input[type="submit"]:hover {
    transition: rgb(9, 255, 0)
}

body.dark-mode {
  background-color: #5c01b1;
  color: #000000;
}


body.dark-mode a {
  color: #43057e;
}












body.white-mode {
  background-color: #a2caf1;
  color: #d489b8;
}


body.white-mode a {
  color: #85ce9b;
}


